{% extends 'admin/master.html' %}
{% import 'admin/_lib.html' as lib with context %}
{% set APPNAME = '琵琶金融' %}
{% set BODY_CLASS = 'skin-purple' %}
{% set LAYOUT_STYLE = 'fixed' %}
{% set body_main_header_small = '修改' %}

{% block head_more %}
    {{ super() }}
    {{ lib.form_css() }}
	<link rel="stylesheet" href="/static/plugins/kindeditor/themes/default/default.css" />
	<script charset="utf-8" src="/static/plugins/kindeditor/kindeditor-min.js"></script>
	<script charset="utf-8" src="/static/plugins/kindeditor/lang/zh_CN.js"></script>
{% endblock %}

{% block body_content %}
  <div class="well">
  {% call lib.form_tag(form) %}
      {{ lib.render_form_fields(form, form_opts=form_opts) }}
      <div class="form-buttons">
        {{ lib.render_form_buttons(return_url) }}
      </div>
  {% endcall %}
  </div>
{% endblock %}

{% block tail_base %}
    {{ super() }}
    {{ lib.form_js() }}
    <script>
        var editor;
        KindEditor.ready(function(K) {
            editor = K.create('textarea', {
                pluginsPath : '/static/plugins/kindeditor/plugins/',
                themesPath : '/static/plugins/kindeditor/themes/',
                uploadJson : '/api/image/upload',
                fileManagerJson : '/api/images',
                allowFileManager : true,
                filterMode : false,
                autoHeightMode : true,
                afterCreate : function() { this.loadPlugin('autoheight'); }
            });
        });
    </script>
{% endblock %}

