{% extends 'admin/list.html' %}

{% block body_content %}
    <div class="form-buttons">
    <div class="form-group">
      <div class="submit-row">
        <a href="/merchant/1/card/create" class="btn btn-primary">创建会员卡</a>
      </div>
    </div>
    </div>
    {% block model_list_table %}
    <table class="table table-striped table-bordered table-hover model-list">
        <thead>
            <tr>
                {% block list_header scoped %}
                    {% if actions %}
                    <th class="list-checkbox-column">
                        <input type="checkbox" name="rowtoggle" class="action-rowtoggle" title="{{ _gettext('Select all records') }}" />
                    </th>
                    {% endif %}
                    {% block list_row_actions_header %}
                    <th class="col-md-1">&nbsp;</th>
                    {% endblock %}
                    {% set column = 0 %}
                    {% for c, name in list_columns %}
                    <th class="column-header">
                        {% if admin_view.is_sortable(c) %}
                            {% if sort_column == column %}
                                <a href="{{ sort_url(column, True) }}" title="{{ _gettext('Sort by %(name)s', name=name) }}">
                                    {{ name }}
                                    {% if sort_desc %}
                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    {% endif %}
                                </a>
                            {% else %}
                                <a href="{{ sort_url(column) }}" title="{{ _gettext('Sort by %(name)s', name=name) }}">{{ name }}</a>
                            {% endif %}
                        {% else %}
                            {{ name }}
                        {% endif %}
                        {% if admin_view.column_descriptions.get(c) %}
                            <a class="glyphicon glyphicon-question-sign"
                               title="{{ admin_view.column_descriptions[c] }}"
                               href="javascript:void(0)" data-role="tooltip"
                            ></a>
                        {% endif %}
                    </th>
                    {% set column = column + 1 %}
                    {% endfor %}
                {% endblock %}
            </tr>
        </thead>
        {% for row in data %}
        <tr>
            {% block list_row scoped %}
                {% if actions %}
                <td>
                    <input type="checkbox" name="rowid" class="action-checkbox" value="{{ get_pk_value(row) }}" title="{{ _gettext('Select record') }}" />
                </td>
                {% endif %}
                {% block list_row_actions_column scoped %}
                <td>
                    {% block list_row_actions scoped %}
                        {%- if admin_view.can_edit -%}
                        <a class="icon" style="color:#0088cc;" href="{{ get_url('.edit_view', id=get_pk_value(row), url=return_url) }}" title="修改纪录">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        {%- endif -%}
                        {%- if admin_view.can_delete -%}
                        <form class="icon" method="POST" action="{{ get_url('.delete_view') }}">
                            {{ delete_form.id(value=get_pk_value(row)) }}
                            {{ delete_form.url(value=return_url) }}
                            {{ delete_form.csrf_token }}
                            <button style="color:#0088cc;" onclick="return confirm('确认删除此纪录吗？');" title="删除纪录">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                        {%- endif -%}
                        {%block list_row_action_more %}
                            <a class="icon" style="margin-left:5px;color:#0088cc;" href="/merchant/weixin/card/{{get_pk_value(row)}}/edit" title="提交微信">
                                <span class="glyphicon glyphicon-cloud-upload"></span>
                            </a>
                            <a class="icon" style="margin-left:5px;color:#0088cc;" href="/merchant/weixin/card/{{get_pk_value(row)}}/info" title="微信查询">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                        {%endblock%}
                    {% endblock %}
                </td>
                {% endblock %}
                {% for c, name in list_columns %}
                    {% if admin_view.is_editable(c) %}
                        {% if form.csrf_token %}
                        <td>{{ form[c](pk=get_pk_value(row), value=get_value(row, c), csrf=form.csrf_token._value()) }}</td>
                        {% else %}
                        <td>{{ form[c](pk=get_pk_value(row), value=get_value(row, c)) }}</td>
                        {% endif %}
                    {% else %}
                    <td>{{ get_value(row, c) }}</td>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </tr>
        {% else %}
        <tr>
            <td colspan="999">
                {% block empty_list_message %}
                <div class="text-center">
                    {{ admin_view.get_empty_list_message() }}
                </div>
                {% endblock %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {{ lib.pager(page, num_pages, pager_url) }}
    {% endblock %}

    {{ actionlib.form(actions, get_url('.action_view')) }}
{% endblock %}


