{% extends 'admin/master.html' %}
{% import 'admin/_lib.html' as lib with context %}
{% set APPNAME = '琵琶金融' %}
{% set BODY_CLASS = 'skin-purple' %}
{% set LAYOUT_STYLE = 'fixed' %}
{% set body_main_header_large = '会员卡信息' %}
{% set body_main_header_small = '创建' %}

{% block body_content %}
<div class="alert alert-info" style="margin-bottom: 10px;display:none">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert_content">信息：</h4><span id="alert"></span>
</div>
<div id="weixin_card_info" class="admin-form form-horizontal">
  <div class="form-group">
    <label for="merchant" class="col-md-2 control-label">商户<strong style="color: red">*</strong></label>
    <div class="col-md-8">
      <select class="form-control" data-role="select2" id="merchant" name="merchant" tabindex="-1" title="商户*">
          <option selected="" value="1">{{merchant}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="card_info" class="col-md-2 control-label">微信Json参数<strong style="color: red">*</strong></label>
    <div class="col-md-8">
      <textarea rows="10" class="form-control" id="card_info" name="card_info"></textarea>
    </div>
  </div>
  <div class="form-buttons">
    <div class="form-group">
      <div class="col-md-offset-2 col-md-8 submit-row">
        <a href='javascript:void(0);' onclick='weixin_card_update()' class="btn btn-primary">提交微信服务器</a>
        <a href="/admin/card/" class="btn btn-danger" role="button">取消</a>
      </div>
    </div>
  </div>
  <label for="merchant" class="col-md-2 control-label">示例：</label>
  <pre id="clipBoardData" style="width:66.66666667%;height:400px">{
    "member_card":{
    "activate_url":"pay.chexianghui.com/#!/card/active",
    "advanced_info":{
        "business_service":[
            "BIZ_SERVICE_FREE_WIFI"
        ],
        "consume_share_card_list":[
        ],
        "share_friends":false,
        "text_image_list":[
        ],
        "use_condition":{
            "can_use_with_membercard":false,
            "can_use_with_other_discount":false
        }
    },
    "auto_activate":true,
    "background_pic_url":"http://mmbiz.qpic.cn/mmbiz_jpg/OKg4BCa3zSr1Wz5KoMHqiad0tV1LOqxD6zA0tDF0sLVUcFGJWG8Ka7AAh9jGO39H6CW49ScTo9pYJwsMynVQ6TA/0?wx_fmt=jpeg",
    "base_info":{
        "area_code_list":[
        ],
        "brand_name":"车享惠汽车服务",
        "can_give_friend":true,
        "can_share":true,
        "code_type":"CODE_TYPE_TEXT",
        "color": "Color010",
        "create_time":1477214312,
        "date_info":{
            "type":"DATE_TYPE_PERMANENT"
        },
        "description":"不可与其他优惠同享",
        "get_limit":1,
        "location_id_list":[
            272495002,
            272494896
        ],
        "logo_url":"http://mmbiz.qpic.cn/mmbiz/OKg4BCa3zSrBeiaHLoMUEt3phSe7SFh7qicAXibCa0Oe5lH9PkGlFtJWlicsKV4G0G0IvP8KiatCw5NV55bvIeX9bag/0",
        "need_push_on_view":true,
        "notice":"使用时向服务员出示此券",
        "promotion_url":"http://pay.chexianghui.com/#!/cards",
        "promotion_url_name":"会员卡消费",
        "promotion_url_sub_title":"",
        "service_phone":"18651816350",
        "sku":{
            "quantity":49999996,
            "total_quantity":50000000
        },
        "status":"CARD_STATUS_VERIFY_OK",
        "sub_title":"",
        "title":"车享惠至尊会员卡",
        "update_time":1477231714,
        "use_all_locations":true,
        "use_custom_code":false
    },
    "bonus_rule":{
        "cost_bonus_unit":100,
        "cost_money_unit":100,
        "increase_bonus":1,
        "init_increase_bonus":10,
        "least_money_to_use_bonus":1000,
        "max_increase_bonus":10,
        "max_reduce_bonus":100,
        "reduce_money":100
    },
    "custom_cell1":{
        "name":"我的会员卡",
        "tips":"",
        "url":"http://pay.chexianghui.com/#!/memcards"
    },
    "custom_cell2":{
        "name":"会员卡入口",
        "tips":"",
        "url":"http://pay.chexianghui.com"
    },
    "custom_field1":{
        "name_type":"FIELD_NAME_TYPE_LEVEL",
        "url":"http://pay.chexianghui.com"
    },
    "discount":10,
    "prerogative":"用卡可享受9折优惠\n每消费1元，赠送10积分",
    "supply_balance":true,
    "supply_bonus":true
    }
}
</pre>
</div>

<script>
  function weixin_card_update(){
      $("#alert").text("提示：提交中...");
      $(".alert").show();
      $.ajax({
          type: 'POST',
          url: '/api/weixin/card/create',
          contentType: 'application/json',
          data: JSON.stringify(JSON.parse($("#card_info").val())),
          success: function(resp){
              if(resp.errcode != 0){
                  $("#alert").text("微信数据创建失败:" + resp.errcode + "," + resp.errmsg)
              } else {
                  $("#alert").text("微信数据创建成功, 卡ID:"+ resp.card_id)
              }
          }
      });
  }
  function copy_template(){
  }
  </script>
{% endblock %}