{% from "security/_macros.html" import render_field_errors %}
{% extends "base/_base.html" %}
{% block head_more %}
    <!-- iCheck -->
    <link href="{{ url_for('static', filename='plugins/iCheck/square/blue.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% set BODY_CLASS = 'login-page' %}
{% set APPNAME = '琵琶金融' %}
{% block body_base %}
<div class="login-box">
    <div class="login-logo">
    <a href="#"><b>{{ APPNAME }}</b></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">修改密码</p>
        {% include "security/_messages.html" %}
        <form class="security_form" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
            {{ change_password_form.hidden_tag() }}

            <div class="form-group has-feedback {%if change_password_form.password.errors %}error{%endif%}">
                <input class="form-control" id="password" name="password" type="password" placeholder="原密码" >
                {{ render_field_errors(change_password_form.password) }}
            </div>

            <div class="form-group has-feedback {%if change_password_form.new_password.errors %}error{%endif%}">
                <input class="form-control" id="new_password" name="new_password" type="password" placeholder="新密码" >
                {{ render_field_errors(change_password_form.new_password) }}
            </div>

            <div class="form-group has-feedback {%if change_password_form.new_password_confirm.errors %}error{%endif%}">
                <input class="form-control" id="new_password_confirm" name="new_password_confirm" type="password" placeholder="新密码确认" >
                {{ render_field_errors(change_password_form.new_password_confirm) }}
            </div>

            <button class="btn btn-primary btn-large pull-right">密码修改</button>
            <div class="clearfix"></div>
        </form>
        <br><!-- /.social-auth-links -->
        <a class="text-center" href="{{ url_for_security('login') }}">直接登录</a><br>
    </div>
</div>
{% endblock %}