{% from "security/_macros.html" import render_field_errors, render_field %}
{% extends "base/_base.html" %}
{% block head_more %}
    <!-- iCheck -->
    <link href="{{ url_for('static', filename='plugins/iCheck/square/blue.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% set BODY_CLASS = 'login-page' %}
{% set APPNAME = '琵琶金融' %}
{% block body_base %}
<div class="login-box">
    <div class="login-logo">
    <a href="#"><b>{{ APPNAME }}</b></a>
    </div>
      <div class="login-box-body">
        <p class="login-box-msg">{{_('register')}}</p>
        {% include "security/_messages.html" %}
        <form class="security_form" action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
          {{ reset_password_form.hidden_tag() }}
          <div class="form-group has-feedback {%if reset_password_form.password.errors %}error{%endif%}">
              <label>{{_('password')}}</label>
              <input class="form-control" id="password" name="password" type="password">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              {{ render_field_errors(reset_password_form.password) }}
          </div>

          <div class="form-group has-feedback {%if reset_password_form.password_confirm.errors %}error{%endif%}">
              <label>{{_('password_confirm')}}</label>
              <input class="form-control" id="password_confirm" name="password_confirm" type="password">
              <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
              {{ render_field_errors(reset_password_form.password_confirm) }}
          </div>

          <button type="submit" class="btn btn-primary btn-large pull-right">{{ _('confirm') }}</button>
          <p class="pull-left"><a href="/" target="_blank">{{ _('cancel') }}</a></p>
          <div class="clearfix"></div>
      </form>
      </div><!-- /.login-box-body -->
</div>
{% endblock %}

